# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
*.env
!.env.example

# prisma
packages/db/prisma/*.db
packages/db/prisma/migrations/dev.db*

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# secrets
google-service-account*.json
